{
    "reporter": ["text", "html"],
    "exclude": [
        "src/protocol",
        "src/types",
        "lib/commonjs/protocol",
        "lib/commonjs/src/protocol",
        "test",
        "scripts",
        "src/utils/fragments.ts",
        "src/utils/interface.ts"
    ]
}
